<div class="container">
  <h1>Stupid coaching</h1>
  <h2>Tell your coach anything</h2>
  <form action="/answer" method="get">
    <div class="form-group">
      <input class="form-control" type="text" name="question" placeholder="What's the big idea?">
    </div>
    <div>
      <input type="submit" value="Submit!">
    </div>
  </form>
</div>
